# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# workspace environment
.vscode

# build
build

# cache
.cache

compile_commands.json

workspace.code-workspace



# ignore .o files and executables
# *.o
# leetcode5
# linkedlisttests
# binarytreetests